.centerList {
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid;
  padding: 5% 10%;
  font-family: Arial;
}
a {
  color: #bb0000;
}

h2 {
  margin-bottom: 15px;
}
ol {
  margin-top: 0;
  margin-bottom: 0;
}
